name: infra

on:
  push:
    branches: [ main ]

env:
  INFRA_DIRECTORY: infra
  TF_VAR_aws_account_number: ${{ secrets.AWS_ACCOUNT_NUMBER }}
  TF_VAR_zoho_email_txt_verification_record_value: ${{ secrets.ZOHO_EMAIL_TXT_VERIFICATION_RECORD_VALUE }}
  TF_VAR_zoho_spf_txt_verification_record_value: ${{ secrets.ZOHO_SPF_TXT_VERIFICATION_RECORD_VALUE }}
  TF_VAR_zoho_dkim_txt_verification_record_value: ${{ secrets.ZOHO_DKIM_TXT_VERIFICATION_RECORD_VALUE }}
  TF_VAR_zoho_dmarc_txt_verification_record_value: ${{ secrets.ZOHO_DMARC_TXT_VERIFICATION_RECORD_VALUE }}
  TF_VAR_keybase_txt_verification_record_value: ${{ secrets.KEYBASE_TXT_VERIFICATION_RECORD_VALUE }}
  TF_VAR_brave_rewards_txt_verification_record_value: ${{ secrets.BRAVE_REWARDS_TXT_VERIFICATION_RECORD_VALUE }}

jobs:
  terraform:
    name: Terraform
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: ${{ env.INFRA_DIRECTORY }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1-node16
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-west-2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.13.3"

      - name: Terraform Init
        id: init
        run: terraform init -input=false

      - name: Terraform Validate
        id: validate
        run: terraform validate

      - name: Terraform Plan
        id: plan
        run: terraform plan -out=tfplan -input=false

      - name: Terraform Apply
        id: apply
        run: terraform apply -input=false -auto-approve tfplan
